@import "normalize.scss";
@import "foundation.scss";
@import "fonts";


section{
	padding-bottom: 45px;
}
h1,h2,h3,h4,h5,h6{
	word-spacing: 3px;
}

.top-bar{
	.name{
		h1{
			a{
				color: $primary-color;
				padding: 0;
				position: relative;
				top: 4px;
				.ba-logo__light{
					color: #f3af9d;
				}
			}
		}
	}
}
@media #{$topbar-media-query}{
	.top-bar-section li:not(.has-form):last-child a:not(.button){
    	padding-right: 0;
    }
}

@media only screen and (min-width: 64.063em){
	.ba-section_line{
		position: relative;

		&:before,
		&:after{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			height: 60px;
			width: 100vh;
			background: $alert-color;
		}
		&:before{
			right: 100%;
		}
		&:after{
			left: 100%;
		}
	}
}

.ba-slide{
	position: relative;
	.ba-slider{
	}
	&__thumbnails{
		padding-top: 18px;
	}
	&__title{
		color: #FFF;
		margin: 0 0 10px;
	}
	&__caption{
		@media #{$medium-up}{
			margin: 30px;
			max-width: 420px;
			left: 0;
			width: auto !important;
		}

		:last-child{
			margin-bottom: 0;
		}
	}
}


.ba-info{
	.ba-info__title{
		margin-top: 0;
		padding: 0 0 15px 70px;
	}
	.small{
		margin-top: 10px;
		margin-bottom: 0;
		@media only screen and (max-width: 40em){
			margin-bottom: 20px;
		}
	}
}

.ba-portfolio{
	&__title{
		padding-bottom: 10px;
		background: url(../img/bg-square.png) repeat-x;
		span{
			display: inline-block;
			background-color: #FFF;
			padding-right: 20px;
		}
	}

	.ba-portfolio__link_img{
		position: relative;
		display: block;
		img{
			width: 100%;
			display: block;
		}
	}
	.ba-portfolio__link_img:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.7;
		background-color: black;
		visibility: hidden;
	}
	.ba-portfolio__link_img:after{
		content: "";
		display: block;
		position: absolute;
		background: url(../img/link.png) center no-repeat;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		visibility: hidden;
	}
	.ba-portfolio__link_img:hover:before,
	.ba-portfolio__link_img:hover:after{
		visibility: visible;
	}

	&__subtitle{
		color: $secondary-color;
		font-family: $header-font-family;
	}
	&__data{
		color: $primary-color;
		font-family: $header-font-family;
		text-transform: uppercase;
		font-size: 11px;
	}
	&__link:hover{
		h3{
			color: $primary-color;
		}
	}
	&__wrapper{
		padding: 8px 13px;
		border: 1px solid #dbdbdb;
		border-top: 0;
		h3, p{
			margin-bottom: 0;
		}
	}
}


.ba-title__light{
	color: #FFF;
}

.ba-footer{
	background-color: $alert-color;
	color: #FFF;
	.row{
		background: $primary-color;
		padding: 35px 35px;
		border-left: 10px solid #fff;
		border-right: 10px solid #fff;

		.columns{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	a{
		color: #FFF;
	}
	.ba-text__light{
		color: #f3b29d;
	}
	&__link-wrapper a{
		display: block;
	}
	a:hover{
		color: #FFF;
	}
	h2{
		margin-bottom: 20px;
	}
	p{
		line-height: 15px;
		margin-top: 10px;
		margin-bottom: 14px;
	}
}

.ba-socials__wrapper{
	padding-top: 10px;
}
.ba-socials__item:hover{
	opacity: .7;
}
