@import "normalize.scss";
@import "foundation.scss";
@import "fonts";


section{
	padding-bottom: 45px;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.top-bar{
	.name{
		h1{
			a{
				color: $primary-color;
				padding: 0;
				.ba-logo__light{
					color: #f3af9d;
				}
			}
		}
	}
}

.ba-grid-img{
	@media only screen{
		.column,.columns {
	    	padding-right: 3px;
		}
		.ba-img-wrapper{
			padding-top: 6px;
			padding-bottom: 6px;
		}
		img{
			width: 100%;
		}
	}
}

.ba-info{
	.ba-info__title{
		padding: 0 0 15px 70px;
	}
	.ba-button-more{
		padding: 10px 13px;
	}
}

.ba-recent-works{
	.ba-recent-works__title-wrapper{
		padding-bottom: 10px;
		background: url(../img/bg-square.png) repeat-x;
		.ba-recent-works__title{
			display: inline-block;
			margin-top: 0;
			background-color: #FFF;
			padding-right: 20px;
		}
	}

	&__subtitle{
		color: $secondary-color;
		font-family: $header-font-family;
	}
	&__data{
		color: $primary-color;
		font-family: $header-font-family;
		text-transform: uppercase;
		font-size: 11px;
	}
	&__wrapper{
		padding: 8px 13px;
		border: 1px solid #dbdbdb;
		border-top: 0;
		h3, p{
			margin-bottom: 0;
		}
	}
}


.ba-title__light{
	color: #FFF;
}

.ba-footer{
	background-color: #FFA985;
	color: #FFF;
	.row{
		background: $primary-color;
		padding-top: 40px;
		padding-bottom: 40px;
		border-left: 10px solid #fff;
		border-right: 10px solid #fff;
		// padding-left: 25px;
		// padding-right: 25px;

		.columns{
			padding-left: 35px;
			padding-right: 35px;
		}
	}
	a{
		color: #FFF;
	}
	.ba-text__light{
		color: #f3b29d;
	}
	&__link-wrapper a{
		display: block;
	}
	a:hover{
		color: #FFF;
	}
	h2{
		margin-bottom: 20px;
	}
	p{
		line-height: 14px;
		margin-top: 10px;
		margin-bottom: 14px;
	}
}

.ba-socials__wrapper{
	padding-top: 10px;
}
.ba-socials__item:hover{
	opacity: .7;
}
