@import "normalize.scss";
@import "foundation.scss";
@import "fonts";

section{
	padding-bottom: 45px;
}
h1,h2,h3,h4,h5,h6{
	word-spacing: 3px;
}

.top-bar{
	.name{
		h1{
			a{
				color: $primary-color;
				padding: 0;
				position: relative;
				top: 6px;

				.ba-logo__light{
					color: #f3af9d;
				}
			}
		}
	}
}

@media #{$topbar-media-query}{
	.top-bar-section li:not(.has-form) a:not(.button),
	.top-bar-section li.active:not(.has-form) a:not(.button){
    	padding-top: 7px ;
		height: 70px;
    }
}
@media #{$topbar-media-query}{
	.top-bar-section li:not(.has-form):last-child a:not(.button){
    	padding-right: 0;
    }
}


.ba-content{
	overflow: hidden;
}
@media only screen and (min-width: 64.063em){
	.ba-section_line{
		position: relative;

		&:before,
		&:after{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			height: 60px;
			width: 100vh;
			background: $alert-color;
		}
		&:before{
			right: 100%;
		}
		&:after{
			left: 100%;
		}
	}
}

.ba-slide{
	position: relative;
	.ba-slider{
	}
	&__thumbnails{
		padding-top: 18px;
	}
	&__title{
		color: #FFF;
		margin: 0 0 10px;
	}
	&__caption{
		@media #{$medium-up}{
			margin: 30px;
			max-width: 420px;
			left: 0;
			width: auto !important;
		}

		:last-child{
			margin-bottom: 0;
		}
	}

    .orbit-prev,
    .orbit-next {
        position: absolute;

        &:hover {
          background-color: $orbit-nav-bg-hover;
        }

        & > span {
        	visibility: hidden;
        }
    }
	.orbit-prev{
        background: url(../img/slider/previous.svg) 0 50% no-repeat;
		margin-left: 23px;
	}
	.orbit-next{
        background: url(../img/slider/next.svg) 0 50% no-repeat;
		margin-right: 23px;
	}
}

.ba-section__title{
	padding-bottom: 10px;
	background: url(../img/bg-square.png) repeat-x;
	span{
		display: inline-block;
		background-color: #FFF;
		padding-right: 20px;
	}
}
.ba-portfolio{

	.ba-portfolio__link_img{
		position: relative;
		display: block;
		img{
			width: 100%;
			display: block;
		}
	}
	.ba-portfolio__link_img:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.7;
		background-color: black;
		visibility: hidden;
	}
	.ba-portfolio__link_img:after{
		content: "";
		display: block;
		position: absolute;
		background: url(../img/link.png) center no-repeat;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		visibility: hidden;
	}
	.ba-portfolio__link_img:hover:before,
	.ba-portfolio__link_img:hover:after{
		visibility: visible;
	}

	&__subtitle{
		color: $secondary-color;
		font-family: $header-font-family;
	}
	&__data{
		color: $primary-color;
		font-family: $header-font-family;
		text-transform: uppercase;
		font-size: 11px;
	}
	&__link:hover{
		h3{
			color: $primary-color;
		}
	}
	&__wrapper{
		padding: 8px 13px;
		border: 1px solid #dbdbdb;
		border-top: 0;
		h3, p{
			margin-bottom: 0;
		}
	}
}


.ba-title__light{
	color: #FFF;
}

.ba-footer{
	background-color: $alert-color;
	color: #FFF;
	.row{
		background: $primary-color;
		padding: 35px 35px;
		border-left: 10px solid #fff;
		border-right: 10px solid #fff;

		.columns{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	a{
		color: #FFF;
	}
	.ba-text__light{
		color: #f3b29d;
	}
	&__link-wrapper a{
		display: block;
	}
	a:hover{
		color: #FFF;
	}
	h2{
		margin-bottom: 20px;
		font-size: 20px;
	}
	p{
		line-height: 15px;
		margin-top: 10px;
		margin-bottom: 14px;
	}
}

.ba-socials__wrapper{
	padding-top: 10px;
}
.ba-socials__item:hover{
	opacity: .7;
}

.ba-title{
	padding-bottom: 25px;

	.ba-title__caption{
		color: #FFF;
		background: $primary-color;
		margin-top: 0;
		margin-bottom: 0;
		height: 60px;
		padding-left: 20px;
		line-height: 70px;
	}
}


/*about us*/
.ba-about-us{
	color: #414141;
	line-height: 18px;
	padding-right: 30px;

	&__img{
		float: left;
		padding: 2px;
		border: 1px solid #ccc;
		margin-top: 3px;
		margin-right: 23px;
	}
	blockquote{
		color: #414141;
		font-size: 12px;
		font-weight: 300;
		font-style: italic;
		border-left: 8px solid $primary-color;
		padding: 0 18px;
		margin-left: 52px;
	}
}
.ba-letter{
	position: relative;
}
.ba-first-letter{
	color: $primary-color;
	font-size: 36px;
	font-weight: 700;
	line-height: 18px;
	float: left;
	margin-top: 8px;
	margin-right: 6px;
}

.alert-box{
	text-align: center;
	font-style: italic;
	font-size: 14px;
	line-height: 20px;
	border: 1px solid;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 18px;

	&:first-child{
		margin-top: 0;
	}

	&.success {
		border-color: $success-color;
		background-color: #effeb9;
		color: $success-color;
	}
	&.alert {
		border-color: #eb5439;
		background-color: #fbcbc1;
		color: #eb5439;
	}
	&.warning {
		border-color: $warning-color;
		background-color: #ffe9ad;
		color: $warning-color;
	}
	&.info {
		border-color: $info-color;
		background-color: #d1e4f3;
		color: $info-color;
	}
}

/*aside*/
.ba-aside{
	.ba-section__title{
		height: 13px;
		margin-bottom: 18px;
		span{
			padding-top: 2px;
			padding-right: 15px;
		}
	}

	&__item{
		padding-bottom: 10px;
	}

	p{
		line-height: 15px;
	}

	ul{
		list-style: none;
		margin: 0;
		line-height: 15px;
		padding-bottom: 20px;

		a{
			color: #414141;
			span{
				font-weight: 500;
			}
		}
	}

	&__link_img{
		display: inline-block;
		height: 50px;
		width: 50px;
		background: $alert-color;
		border: 1px solid $primary-color;
	}

	.ba-photo-gallery .row {
		padding-right: 15px;
	}
}





/*portfolio*/
.ba-portfolio-filter{
	padding-top: 10px;
	padding-bottom: 35px;
}
.ba-filter{
	@include sub-nav(
    	$font-color: $success-color,
    	$font-size: rem-calc(14),
    	$active-bg: $primary-color
    );

    dd{
    	margin: 0;
    	padding: 7px 0;
    }
    dd a{
    	padding: 0 10px;
	    text-transform: uppercase;
    }
    dd.active a{
    	padding: 10px 12px 6px;
    }
}
.ba-picture{
	padding-bottom: 5px;

	.ba-portfolio-line{
		margin-bottom: 40px;
	}
}

/*portflio item*/
.ba-portfolio-item-page{
	section{
		padding-bottom: 23px;
	}
}
.ba-portfolio-item{

	&__link{
		display: block;
		margin-bottom: 20px;
	}
	&__content{
		margin-bottom: 15px;
	}
}



